.counter {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 1em auto;
  padding: .3em;
  font-size: 2em;
  background: #333;
  border-radius: 10px;
  color: white;
}

.counter button {
  color: white;
  background: none;
  font-size: .5em;
  border: none;
}
